body {
  background-color: #ffe0e0;
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

h1 {
  text-align: center;
}

h2 {
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.about,
.skills {
  font-size: 40px;
  margin: 60px;
  line-height: 1.5;
  color: #ff347f;
}

.profile {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
  text-align: center;
  background-position: center center;
}

a {
  color: pink;
  padding: 20px 15px;
  text-decoration: none;
  list-style: none;
  text-align: -webkit-match-parent;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
}
nav ul li a:hover {
  color: #ff347f;
}
nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #ff347f;
  transition: 0.3s;
  bottom: 0;
}
nav ul li a:hover:after {
  width: 100%;
}

.social-icons {
  li {
    display: inline-block;
    list-style: none;
    align-items: center;
    position: relative;
  }

  a {
    color: black;
    i {
      font-size: 30px;
    }
  }
}

.linkedin {
  content: "\ea74";
}

.github-link {
  position: absolute;
  left: 30px;
}

.info {
  list-style: none;
  position: relative;
  left: 120px;
  line-height: 3;
}

.info li .first-details {
  width: 40%;
  color: #000;
  font-weight: bold;
}

.info li .second-block {
  width: 60%;
  color: #ff347f;
}

.intro {
  position: relative;
  bottom: 170px;
  align-items: center;
}

.intro p {
  color: #ff347f;
}

tr {
  mix-blend-mode: multiply;
}

#fh5co-skills,
#logo {
  display: inline-block;
  position: relative;
  left: 450px;
}
