body {
  background-color: #ffe0e0;
}

h1,
h2 {
  text-align: center;
}

.profile {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
  text-align: center;
  background-position: center center;
}

a {
  color: pink;
  padding: 20px 15px;
  text-decoration: none;
  list-style: none;
  text-align: -webkit-match-parent;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
}
nav ul li a:hover {
  color: #ff347f;
}
nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #ff347f;
  transition: 0.3s;
  bottom: 0;
}
nav ul li a:hover:after {
  width: 100%;
}

.social-icons {
  li {
    a {
      color: white;
      i {
        font-size: 30px;
      }
    }
  }

  text-align: center;
  list-style: none;
}

.linkedin {
  content: "\ea74";
}

.github-link {
  position: absolute;
  left: 30px;
}

.fa-github:before {
  content: "\f09b";
}
